body {
  color: #000000;
}

h1 {
  padding: 2%;
}

.container {
  padding: 0px;
  width: 100%;
}

#header-container {
  background: url("../img/row1.jpeg") no-repeat fixed;
  background-size: cover;
}

#main-container {
  background: url("../img/container2-bg.jpg") no-repeat fixed;
  background-size: cover;
}

.row {
  padding-bottom: 15vh;
  padding-top: 35vh;
  padding-left: none;
  padding-right: none;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: 0;
  display: none;
}

.nav {
  width: 100vw;
}

#nav-list {
  background-color: #000000;
  display: none;
}

.nav > li > a {
  color: #1fc4ab;
  border-radius: 0px;
  font-weight: bolder;
}

.nav > li:hover {
  cursor: pointer;
  background-color: #1fc4ab;
  color: #ffffff;
}

.row > h1 {
  font-size: 3em;
  width: 100%;
  padding: 5px;
}

#navbar-name {
  border-bottom: 2px #000000 solid;
}

#navbar-name > a {
  color: #000000;
  background-color: #1fc4ab;
}

#navbar-name > a:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #1fc4ab;
}

ul > .nav-buttons {
  float: right;
}

#row-1 {
  background-color: transparent;
}

#row1-column > h1 {
  background-color: #000000;
  color: #1fc4ab;
  padding: 2%;
}

#row1-column > h1:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

#row-2 {
  background-color: #000000;
  color: #1fc4ab;
  padding-top: 15vh;
}

#row2-column > h1 {
  background-color: #1fc4ab;
  color: #000000;
}

#row2-column > #row2-order {
  background-color: #000000;
  color: #1fc4ab;
  border: 2px #1fc4ab solid;
}

#row2-column > #row2-order:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

#row-3 {
  background-color: transparent;
}

#row3-h1 > h1 {
  background-color: #000000;
  color: #1fc4ab;
  padding: 2%;
}

#row3-h1 > .order-button:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

#order-row {
  background-color: #000000;
  color: #1fc4ab;
  padding-top: 15vh;
}

#order-row-column > h1 {
  background-color: #1fc4ab;
  color: #000000;
}

#order-form {
  text-align: left;
}

#order-form > ul, #order-form > h1 {
  padding: 0;
}

#order-submit {
  background-color: #000000;
  color: #1fc4ab;
  width: 100%;
  border: 2px #1fc4ab solid;
  font-weight: bolder;
  font-size: 1.5em;
}

#order-submit:hover {
  background-color: #1fc4ab;
  color: #000000;
  width: 100%;
  border-radius: 0;
  border: none;
}
