body {
  background: url("../img/row1.jpeg") fixed;
  background-size: cover;
  color: #000000;
}

#header-container {
  padding: 0px;
}

#main-container {
  padding: 0px;
}

.row {
  padding: 5%;
  width: 100%;
  text-align: center;
  margin: 0;
}

.nav {
  width: 100vw;
}

#nav-list {
  background-color: #000000;
}

.nav > li > a {
  color: #1fc4ab;
  border-radius: 0px;
  font-weight: bolder;
}

.nav > li > a:hover {
  cursor: pointer;
  background-color: #1fc4ab;
  color: #ffffff;
}

#navbar-name {
  border-bottom: 2px #000000 solid;
}

#navbar-name > a {
  color: #000000;
  background-color: #1fc4ab;
}

#navbar-name > a:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #1fc4ab;
}

ul > .menu-buttons {
  float: right;
}

#deals-button {
  margin-right: 5px;
}

#row-1 {
  background-color: transparent;
  padding-bottom: 20vh;
  padding-top: 30vh;
  padding-left: none;
  padding-right: none;
  height: 100vh;
}


h1 {
  font-size: 3em;
  background-color: #1fc4ab;
  width: 100%;
  padding: 5px;
}

#row-2 {
  background-color: #000000;
  padding-bottom: 0px;
}

#row-1 > a {
  color: #000000;
  text-decoration: none;
}

#row-1 > a:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
